tutorials/flows.json
[{"id":"52812b85.77b6e4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"30f2ee1c.d47152","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"1c9eb927.c2b777","type":"inject","z":"52812b85.77b6e4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello Node-Red","payloadType":"str","x":180,"y":120,"wires":[["dd977f27.33fd9"]]},{"id":"dd977f27.33fd9","type":"debug","z":"52812b85.77b6e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":140,"wires":[]},{"id":"1ba29dc6.e62fc2","type":"inject","z":"52812b85.77b6e4","name":"on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":170,"y":460,"wires":[["b537eae8.183ac8"]]},{"id":"ce468503.dc9358","type":"inject","z":"52812b85.77b6e4","name":"off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":170,"y":580,"wires":[["b537eae8.183ac8"]]},{"id":"b537eae8.183ac8","type":"serial out","z":"52812b85.77b6e4","name":"","serial":"30f2ee1c.d47152","x":500,"y":520,"wires":[]},{"id":"184476dc.53e119","type":"serial in","z":"52812b85.77b6e4","name":"","serial":"30f2ee1c.d47152","x":170,"y":220,"wires":[["dd977f27.33fd9"]]},{"id":"c62be165.ab681","type":"http in","z":"52812b85.77b6e4","name":"NodeMCU","url":"/nodemcu","method":"get","upload":false,"swaggerDoc":"","x":160,"y":320,"wires":[["dd977f27.33fd9","b83308c7.0d3e28"]]},{"id":"b83308c7.0d3e28","type":"function","z":"52812b85.77b6e4","name":"comm_nodemcu_arduino_func","func":"if (msg.payload.ldr < 300)\n    msg.payload = \"on\";\nelse\n    msg.payload = \"off\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":380,"wires":[["b537eae8.183ac8"]]}]